@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="containerhome">
        <h1 class="display-4 title">SISTEMA RESTAURANTE MÃO BOA</h1>
        <div>
            <img src="~/img/Logo2.png" />
        </div>
        <div class="container-tag">
            <button class="tag">
            <span href="https://localhost:7194/Categoria" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Categoria de Pratos
            </span>
        </button>
            <button class="tag">
                <span href="https://localhost:7194/Cliente" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Clientes
            </span>
        </button>
            <button class="tag">
                <span href="https://localhost:7194/Fornecedor" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Fornecedores
            </span>
        </button>
            <button class="tag">
                <span href="https://localhost:7194/Pagamento" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Pagamento
            </span>
        </button>
                <button class="tag">
                <a href="https://localhost:7194/Prato" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Prato
            </a>
        </button>
            <button class="tag">
                <span href="https://localhost:7194/Venda" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Venda
            </span>
        </button>
            <button class="tag">
                <span href="localhost:7194/Garcom" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Garçom
            </span>
        </button>
            <button class="tag">
                <span href="https://localhost:7194/VendaHasProduto" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Venda de Produto
            </span>
        </button>
        </div>
    </div>
</div>
